@using System.Net
@page "/Translator"
@inject HttpClient _http

<form method="post" id="indexID">
    <div>
        <div>

            <div>
                <div class="form-group row">
                    <select id="lengFrom" @bind="lengFrom">
                        <option value="en">English</option>
                        <option value="ua">uauu</option>
                        <option value="pl">pl</option>
                    </select>
                    <select id="lengTo" @bind="lengTo">
                        <option value="en">English</option>
                        <option value="ua">uauu</option>
                        <option value="pl">pl</option>
                    </select>
                    <div class="col-4">
                        <label for="InputText">Language 1:</label>
                    </div>
                    
                    <div>
                        <input @bind-value="text" type="text" class="form-control" />
                    </div>

                    <div>
                        <input @onclick="PostText" type="button" value="Send" />
                    </div>

                    <div class="col-8">
                        <label for="OutputText">Language 2:</label>
                    </div>
                    <div>
                        <input @bind-value="output" type="text" class="form-control" id="textRes" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@code {
    public string output { get; set; }
    public string text { get; set; }
    public string lengFrom { get; set; }
    public string lengTo { get; set; }

    public async Task PostText()
    {
        var r = new reqf { 
            text = text,
            lengFrom = lengFrom,
            lengTo = lengTo
        };

        var result = await _http.PostAsJsonAsync("api/Translation", r);

        if (result.StatusCode == HttpStatusCode.OK)
        {
            output = await result.Content.ReadAsStringAsync();
            StateHasChanged();
        }


        var boba = 0;
    }
}
